[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.27"
celery = {extras = ["redis"],version = "*"}
psycopg2 = "*"
lxml = "*"
djangorestframework = "*"
django-filter = "*"
requests = "*"

[requires]
python_version = "3.7"
